<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>店舗一覧</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container nagoyameshi-container pb-5">
				<div class="row justify-content-center">
					<nav class="my-3" style="--bs-breadcrumb-divider: '>';" category-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							<li class="breadcrumb-item active" category-current="page">店舗一覧</li>
						</ol>
					</nav>

					<div class="col-xl-3 col-lg-4 col-md-12">
						<form method="get" th:action="@{/restaurants}" class="w-100 mb-3">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" th:value="${keyword}"
									placeholder="店舗名">
								<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
							</div>
						</form>

						<div class="card mb-3">
							<div class="card-header">
								カテゴリから探す
							</div>
							<div class="card-body">
								<form method="get" th:action="@{/restaurants}" class="w-100">
									<div class="form-group mb-3">
										<select class="form-control form-select" name="category">
											<option value="" hidden>選択してください</option>
											<optgroup label="和食">
												<option value="和食" th:selected="${category == '和食'}">和食</option>
												<option value="寿司" th:selected="${category == '寿司'}">寿司</option>
												<option value="たこ焼き" th:selected="${category == 'たこ焼き'}">たこ焼き</option>
												<option value="お好み焼き" th:selected="${category == 'お好み焼き'}">お好み焼き
												</option>
												<option value="鍋料理" th:selected="${category == '鍋料理'}">鍋料理</option>
											</optgroup>
											<optgroup label="麵料理">
												<option value="ラーメン" th:selected="${category == 'ラーメン'}">ラーメン</option>
												<option value="うどん" th:selected="${category == 'うどん'}">うどん</option>
											</optgroup>
											<optgroup label="肉料理">
												<option value="揚げ物" th:selected="${category == '揚げ物'}">揚げ物</option>
												<option value="焼肉" th:selected="${category == '焼肉'}">焼肉</option>
												<option value="ハンバーグ" th:selected="${category == 'ハンバーグ'}">ハンバーグ
												</option>
												<option value="焼き鳥" th:selected="${category == '焼き鳥'}">焼き鳥</option>
												<option value="ステーキ" th:selected="${category == 'ステーキ'}">ステーキ</option>
											</optgroup>
											<optgroup label="外国料理">
												<option value="フランス料理" th:selected="${category == 'フランス料理'}">フランス料理
												</option>
												<option value="タイ料理" th:selected="${category == 'タイ料理'}">タイ料理</option>
												<option value="中華料理" th:selected="${category == '中華料理'}">中華料理</option>
												<option value="カレー" th:selected="${category == 'カレー'}">カレー</option>
											</optgroup>
											<optgroup label="喫茶店">
												<option value="喫茶店" th:selected="${category == '喫茶店'}">喫茶店</option>
											</optgroup>
											<optgroup label="スイーツ">
												<option value="スイーツ" th:selected="${category == 'スイーツ'}">スイーツ</option>
											</optgroup>
											<optgroup label="パン">
												<option value="パン" th:selected="${category == 'パン'}">パン</option>
											</optgroup>
										</select>
									</div>
									<div class="form-group">
										<button type="submit"
											class="btn text-white shadow-sm w-100 nagoyameshi-btn">検索</button>
									</div>
								</form>
							</div>
						</div>

						<div class="card mb-3">
							<div class="card-header">
								価格から探す
							</div>
							<div class="card-body">
								<form method="get" th:action="@{/restaurants}" class="w-100">
									<div class="form-group mb-3">
										<select class="form-control form-select" name="price">
											<option value="" hidden>選択してください</option>
											<option value="1000" th:selected="${price == 1000}">1,000円以内</option>
											<option value="2000" th:selected="${price == 2000}">2,000円以内</option>
											<option value="3000" th:selected="${price == 3000}">3,000円以内</option>
											<option value="4000" th:selected="${price == 4000}">4,000円以内</option>
											<option value="5000" th:selected="${price == 5000}">5,000円以内</option>
											<option value="6000" th:selected="${price == 6000}">6,000円以内</option>
											<option value="7000" th:selected="${price == 7000}">7,000円以内</option>
											<option value="8000" th:selected="${price == 8000}">8,000円以内</option>
											<option value="9000" th:selected="${price == 9000}">9,000円以内</option>
											<option value="10000" th:selected="${price == 10000}">10,000円以内</option>
										</select>
									</div>
									<div class="form-group">
										<button type="submit"
											class="btn text-white shadow-sm w-100 nagoyameshi-btn">検索</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="d-flex justify-content-between flex-wrap">
							<p th:if="${restaurantPage.getTotalPages() > 1}" class="fs-5 mb-3"
								th:text="${'検索結果：' + restaurantPage.getTotalElements() + '件' + '（' + (restaurantPage.getNumber() + 1) + ' / ' + restaurantPage.getTotalPages() + ' ページ）'}">
							</p>

							<p th:unless="${restaurantPage.getTotalPages() > 1}" class="fs-5 mb-3"
								th:text="${'検索結果：' + restaurantPage.getTotalElements() + '件'}"></p>

							<form method="get" th:action="@{/restaurants}" class="mb-3 nagoyameshi-sort-box">
								<input th:if="${keyword}" type="hidden" name="keyword" th:value="${keyword}">
								<input th:if="${category}" type="hidden" name="category" th:value="${category}">
								<input th:if="${price}" type="hidden" name="price" th:value="${price}">
								<select class="form-select form-select-sm" name="order" onChange="this.form.submit();">
									<option value="createdAtDesc"
										th:selected="${order == 'createdAtDesc' || order == null}">新着順</option>
									<option value="priceAsc" th:selected="${order == 'priceAsc'}">価格が安い順</option>
								</select>
							</form>
						</div>

						<div class="mb-3" th:each="restaurant : ${restaurantPage}">
							<a th:href="@{/restaurants/__${restaurant.getId()}__}"
								class="link-dark nagoyameshi-card-link">
								<div class="card h-100">
									<div class="row g-0">
										<div class="col-md-4">
											<img th:if="${restaurant.getImageName()}"
												th:src="@{/storage/__${restaurant.getImageName()}__}"
												class="card-img-top nagoyameshi-horizontal-card-image" alt="店舗画像">
											<img th:unless="${restaurant.getImageName()}"
												th:src="@{/images/noImage.png}"
												class="card-img-top nagoyameshi-horizontal-card-image" alt="NO IMAGE">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h3 class="card-title mb-3" th:text="${restaurant.getName()}"></h3>

												<hr class="mb-3">

												<p class="card-text mb-2">
													<span th:text="${restaurant.getDescription()}"></span>
												</p>

												<p class="card-text mb-2">
													<small class="text-muted"
														th:text="${'〒' + restaurant.getPostalCode()}"></small>
													<small class="text-muted"
														th:text="${restaurant.getAddress()}"></small>
												</p>

												<p class="card-text">
													<span
														th:text="${#numbers.formatInteger(restaurant.getPrice(), 1, 'COMMA') + '円'}"></span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>

						<!-- ページネーション -->
						<div th:if="${restaurantPage.getTotalPages() > 1}" class="d-flex justify-content-center">
							<nav aria-label="店舗一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${restaurantPage.isFirst()}" class="page-link disabled">前</span>
										<a th:unless="${restaurantPage.isFirst()}"
											th:href="@{/restaurants(page = ${restaurantPage.getNumber() - 1}, keyword = ${keyword}, category = ${category}, price = ${price}, order = ${order})}"
											class="page-link nagoyameshi-page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, restaurantPage.getTotalPages() - 1)}"
										class="page-item">
										<span th:if="${i == restaurantPage.getNumber()}"
											class="page-link active nagoyameshi-active" th:text="${i + 1}"></span>
										<a th:unless="${i == restaurantPage.getNumber()}"
											th:href="@{/restaurants(page = ${i}, keyword = ${keyword}, category = ${category}, price = ${price}, order = ${order})}"
											class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<span th:if="${restaurantPage.isLast()}" class="page-link disabled">次</span>
										<a th:unless="${restaurantPage.isLast()}"
											th:href="@{/restaurants(page = ${restaurantPage.getNumber() + 1}, keyword = ${keyword}, category = ${category}, price = ${price}, order = ${order})}"
											class="page-link nagoyameshi-page-link">次</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>